[flake8]
ignore = E265, F811, PT001, DJ05, D100, D105, D104, W504, W292, D101, D102, D103, D104, D105, D106, D107
max-line-length = 79
paths = 
    ./app
max-complexity = 10
exclude = 
   tests
   venv
   env
   alembic/versions/*.py
